<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <h1>Edit Your Profile Here...</h1>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form action="" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{form.as_p}}
                    <button type="submit" class="btn-primary">Update Profile</button>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>
</html> -->


<!-- ================================================================================== -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <h1>Add Your Profile Here...</h1>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form action="" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{form.as_p}}
                    <button type="submit" class="btn-primary">Add Profile</button>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>
</html>



 -->



<!-- =========================================================================================== -->

<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>UPDATE PROFILE</title>

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Main CSS-->
    <link href="{%static 'addprofilestatic/css/main.css'%}" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">UPDATE DETAILS</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="form-row">
                            <div class="name">BIO</div>
                            <div class="value">
                                <input class="input--style-6" type="text" name="bio">
                            </div>
                        </div>
                        <!-- <div class="form-row">
                            <div class="name">Message</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="textarea--style-6" name="message" placeholder="Message sent to the employer"></textarea>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-row">
                            <div class="name">PROFILE PIC</div>
                            <div class="value">
                                <div class="input-group js-input-file">
                                    <input class="input-file" type="file" name="profile_pic" id="profile_pic">
                                    <label class="label--file" for="file">Choose file</label>
                                    <span class="input-file__info">No file chosen</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">COVER PIC</div>
                            <div class="value">
                                <div class="input-group js-input-file">
                                    <input class="input-file" type="file" name="cover_pic" id="cover_pic">
                                    <label class="label--file" for="file">Choose file</label>
                                    <span class="input-file__info">No file chosen</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">PHONE NUMBER</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="text" name="phone" placeholder="Phone Number">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">DATE OF BIRTH</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="date" name="dob" placeholder="Date of Birth">
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-footer">
                            <button class="btn btn--radius-2 btn--blue-2" type="submit">UPDATE PROFILE</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{%static 'addprofilestatic/vendor/jquery/jquery.min.js'%}"></script>


    <!-- Main JS-->
    <script src="{%static 'addprofilestatic/js/global.js'%}"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->